@import url('https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

html {
    scroll-behavior: smooth;
}

.row {
    margin-left: 0 !important;
    margin-right: 0 !important;
}

* {
    padding: 0px;
    margin: 0px;
    font-weight: 500;
    font-family: 'Barlow', sans-serif !important;
}

:root {
    --light-blue: #e5f1f8;
    --dark-blue: #1c97d4;
    --darker-blue: #2a489f;
    --footer-blue: #003059;
    --grey: #d2e0ef;
}

img {
    max-width: 100%;
}

.container {

    box-sizing: border-box;
    padding: 0 !important;
}

h1 {
    font-size: 58px !important;
    color: var(--darker-blue) !important;
    font-weight: 700;
}

h2 {
    font-size: 32px;
    line-height: 62px;
    text-transform: uppercase;
    font-weight: 800;
}

h3 {
    font-size: 24px !important;
    line-height: 32px;
    font-weight: 700;
    margin: 22px 0 10px !important;
}

/* header */
.navbar-toggler {
    border: none;
}

.navbar-toggler:focus {
    box-shadow: none;
}

.navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg xmlns='http://www.w3.org/2000/svg' data-name='Layer 261' viewBox='0 0 46.99 46.88' id='Menu'%3e%3crect width='23.5' height='9.29' x='23.5' fill='%231c97d4' rx='4.64' class='color231f20 svgShape'%3e%3c/rect%3e%3crect width='9.41' height='9.29' x='.28' fill='%231c97d4' rx='4.64' class='color231f20 svgShape'%3e%3c/rect%3e%3crect width='9.41' height='9.29' x='37.52' y='37.59' fill='%231c97d4' rx='4.64' class='color231f20 svgShape'%3e%3c/rect%3e%3crect width='23.5' height='9.29' x='.47' y='37.59' fill='%231c97d4' rx='4.64' class='color231f20 svgShape'%3e%3c/rect%3e%3crect width='46.99' height='9.29' y='18.85' fill='%231c97d4' rx='4.64' class='color231f20 svgShape'%3e%3c/rect%3e%3c/svg%3e");
}

nav ul li a,
.employment-links a {
    padding: 0 !important;
    margin-left: 25px;
    font-size: 16px;
    font-weight: bold !important;
    color: #000 !important;
    transition: all .5s ease-in-out;
}

nav ul li a:hover,
.employment-links svg,
.employment-links a:hover {
    color: var(--dark-blue) !important;
}

.active {
    color: var(--dark-blue) !important;
}

.custom-btn {
    border-radius: 10px;
    padding: 20px 29px !important;
    color: #fff !important;
    background-color: var(--dark-blue) !important;
    transition: .5s ease-in-out;
    box-sizing: border-box;
    border: 2px solid transparent;
    text-transform: uppercase;
    font-weight: bold !important;
    text-decoration: none;
    z-index: 100 !important;
    position: relative;
}

.custom-btn:hover {
    color: var(--dark-blue) !important;
    background-color: #fff !important;
    border: 2px solid var(--dark-blue);
    box-shadow: 0px 0px 10px var(--dark-blue);
}

/* banner  */
.carousel-indicators [data-bs-target] {
    height: .78rem !important;
    width: .78rem !important;
    border-radius: 50%;
    background-color: var(--dark-blue);
    transition: .5s;
    position: relative;
}

.carousel-indicators [data-bs-target]:hover {
    transform: scale(1.5);
}

.carousel-indicators {
    z-index: 500 !important;
    bottom: 34%;
    left: 82%;
    flex-direction: column;
}

.carousel-indicators [data-bs-target]::after {
    content: "";
    position: absolute;
    bottom: 0;
    top: -8px;
    left: -8px;
    right: 0%;
    padding: 13px;
    border-radius: 50%;
    border: 1px solid var(--dark-blue);
}

.carousel-line {
    height: 2rem;
    width: .2rem;
    margin: 5px 0px 5px .45rem;
    background-color: var(--dark-blue);
}

.carousel-indicators .active {
    transform: scale(1.5);
}

.banner {
    background-color: var(--light-blue) !important;
}

.banner .container {
    padding: 41px 0 !important;
    overflow: hidden !important;
}

.banner .container .row .left-banner {
    padding: 125px 0 !important;
}

.banner .left-banner h1 span {
    font-weight: 900 !important;
    color: var(--dark-blue) !important;
    padding: 0 0 35px 0 !important;
}

.banner .left-banner p {
    font-size: 20px;
    line-height: 28px;
    color: #000000;
    font-weight: 600;
    font-family: "Barlow";
    padding: 0 0 33px;
}

.banner .right-banner {
    text-align: end;

}

.right-banner img:nth-child(1) {
    transition: all .5s;
}

.right-banner img:nth-child(2) {
    top: 7%;
    right: 17%;
    transition: all .5s;
}

.right-banner img:nth-child(3) {
    transform: rotate(180deg);
    top: 81%;
    left: 24%;
    opacity: .3;
    transition: all .5s;
}

.right-banner:hover img:nth-child(2) {
    top: 2%;
    right: 11%;
}

.right-banner:hover img:nth-child(3) {
    top: 86%;
    left: 19%;
}

.right-banner:hover img:nth-child(1) {
    transform: scale(1.05);
}

.right-banner:hover::after,
.right-banner:hover::before {
    filter: opacity(0);
    transform: scale(2);
    z-index: -1;
}

.square-1 {
    height: 165px;
    width: 165px;
    background-color: var(--grey);
    border-radius: 30px;
    animation: shape 8s infinite linear;
    display: inline-block;
    bottom: 87%;
    left: 47%;
    z-index: 1;
}

.square-2 {
    height: 145px;
    width: 145px;
    background-color: var(--grey);
    border-radius: 30px;
    animation: shape 8s infinite linear;
    display: inline-block;
    bottom: 10%;
    left: -7%;
    z-index: 1;
}

@keyframes shape {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(359deg);
    }
}

.right-banner::after {
    content: "";
    height: 88px;
    width: 88px;
    background-color: var(--light-blue);
    border-radius: 50%;
    position: absolute;
    top: 57%;
    right: 78%;
    z-index: 10;
    transition: .8s ease;
}

.right-banner::before {
    content: "";
    height: 88px;
    width: 88px;
    background-color: var(--light-blue);
    border-radius: 50%;
    position: absolute;
    top: 27%;
    left: 82%;
    z-index: 10;
    transition: .8s ease;
}

/* about */
.about {
    padding: 65px 0;
}

.about-one p:nth-child(6) {
    margin-bottom: 2.5rem;
}

.about-one h3:nth-child(7) {
    margin-bottom: 1.5rem !important;
}

.about-one p span {
    font-weight: 700;
}

.about img {
    box-shadow: 15px -15px var(--dark-blue);
    border-radius: 20px;
}

.about svg {
    padding: 2px;
    background-color: var(--dark-blue);
    border-radius: 50%;
    color: #fff;
    border: 1px solid transparent;
}

.about li:hover svg {
    color: var(--dark-blue);
    background-color: transparent;
    border: 1px solid var(--dark-blue);

}

/* services */
.services {
    padding: 50px 0 98px;
    background-color: var(--light-blue);
}

.services div .row:nth-child(3) {
    padding: 0 0 77px 0;
}

.services-one {
    background-color: var(--dark-blue);
    color: #fff;
    width: 97%;
    height: 185px;
    border-radius: 10px;
    transition: all .5s ease;
}

.services-one:hover {
    color: #000;
    background-color: #ffffff;
}

.services-one:hover .services-one-img-one {
    display: none;
}

.services-one-img-two,
.services-one-img-one {
    transition: all .5s ease;
}

.services-one:hover .services-one-img-two {
    display: inline-block !important;
    transition: all .5s ease;
}

.services-one:hover .svg-border::after,
.services-one:hover .svg-border::before {


    background-color: var(--dark-blue);
}

.services div .row:first-child h2 {
    margin-bottom: 55px;
}

.svg-border {
    width: 96px;
    height: 96px;
    border-radius: 10px;

    border: 1px solid #fff;
    position: relative;
    transition: all .5s ease;
}

.services-one:hover .svg-border {
    border: 1px solid #1c97d4;
}

.svg-border::after {
    content: "";
    width: 11px;
    height: 11px;
    border-radius: 50%;
    position: absolute;
    top: 25%;
    left: -6.5%;
    background-color: #fff;
    transition: all .5s ease;
}

.svg-border::before {
    content: "";
    width: 11px;
    height: 11px;
    border-radius: 50%;
    position: absolute;
    top: 75%;
    right: -6.5%;
    background-color: #fff;
    transition: all .5s ease;
}

.services-one h3 {
    margin: 14px 0 !important;
}

/* ach */
.ach div>.row:nth-child(1) h2 {
    margin-bottom: 50px;
}

.ach div h3:nth-child(2) {
    top: 32%;
    right: 42%;
    display: inline-block !important;
    padding: 0 25px;
    background-color: #fff;
}

.ach-border {
    border: 1px solid var(--dark-blue);
    border-radius: 30px;
    padding: 55px 35px 0px;
    display: flex;
    justify-content: space-between;
}

.ach-border.row p {
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.ach-circle {
    height: 72px;
    width: 72px;
    background-color: var(--dark-blue);
    border-radius: 50%;
    margin: 0 0 10px;
    border: 1px solid transparent;
    transition: .5s ease;
}

.ach-circle-one:hover .ach-circle {
    background-color: #fff;
    border: 1px solid var(--dark-blue);
    transform: scale(1.1);
}

.ach-circle-one:hover .ach-img-one {
    display: none;
}

.ach-circle-one:hover .ach-img-two {
    display: inline-block !important;
}

/* internet-checks */
.internet-checks {
    padding: 2.5rem 0 5rem;
}

.internet-checks div h3:nth-child(2) {
    top: 7% !important;
}

/* faqs */
/* dropdown */
.dropdown {
    padding: 2rem 0 10rem;
}

.accordion-button {
    padding: 0 20px !important;
}

.container {
    box-sizing: border-box;
    padding: 0 !important;
}

.deopdown-img-two {
    right: 0%;
    top: 50.5%;
    padding: 10px 0 0 10px;
    background: transparent;
}

.accordion-button.collapsed.accordion-button::after {
    background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' id='plus'%3e%3cpath fill='none' fill-rule='evenodd' stroke='%23000' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='M8 1v14M1 8h14'%3e%3c/path%3e%3c/svg%3e") !important;
    background-size: 13px;
    background-position: center;
}

.accordion-button.accordion-button::after {
    background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg xmlns='http://www.w3.org/2000/svg' fill='none' viewBox='0 0 24 24' id='Minus'%3e%3cpath fill='%23000000' d='M6 13a1 1 0 1 1 0-2h12a1 1 0 1 1 0 2H6Z' class='color000000 svgShape'%3e%3c/path%3e%3c/svg%3e") !important;
}

.dropdown .accordion-item {
    border: none;
}

.dropdown .accordion-body,
.accordion-button,
.accordion-button.collapsed {
    background-color: var(--light-blue) !important;
    font-weight: 700;
}

/* employment */
.employment {
    padding: 2rem 0 5.5rem;
}

.employment img {
    width: 150%;
    border-radius: 10px;
}

.employment-two h3 {
    margin: 0 0 24px 0 !important;
    line-height: normal;
}

.employment-two p:nth-child(2) {
    font-weight: 500;
}

.employment-links span {
    margin: 0 10px;
    font-weight: 500;
}

.employment-links a {
    margin: 0 0px 0 5px;
    text-decoration: none;
}

.employment-links-svg-hover {
    animation: svg .5s linear infinite alternate-reverse;
}

/* industry */
.industry h3 {
    margin: 0 0 .7rem !important;
}

.industry {
    background-color: var(--light-blue);
}

.industry h3 {
    font-size: 22px !important;
}

.industry .date,
.industry-admin-link,
.industry .text-muted {
    font-weight: 600;
}

.industry-admin-link {
    color: var(--dark-blue);
}

.industry-admin-link:hover {
    color: #b95598;
}

.industry .card-over img {
    transition: .5s ease;
}

.industry .card-over {
    transition: .5s ease;
    position: relative;
    z-index: 1;
}

.industry .card-over::after {
    position: absolute;
    right: 0;
    left: 0;
    width: 100%;
    height: 0%;
    content: "";
    background-color: #00000060;
    z-index: 10;
    transition: .5s ease;
}

.industry .card:hover .card-over::after {
    height: 100%;
}

.industry .card-over {
    overflow: hidden;
    border-radius: 0.375rem 0.375rem 0 0;
}

.industry .card-body {
    padding: 2rem 1rem;
}

.industry .card-body p:nth-child(3) {
    display: -webkit-box;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.industry .card:hover img {
    transform: scale(1.1);
}

/* footer-logo */

.footer-logo {
    background-color: var(--dark-blue);
}

.footer-logo .d-flex.align-items-center {
    height: 98.56px;
}

.footer-logo img {
    background-color: #fff;
    padding: 7% 4% 8%;
}

.footer-logo a:link {
    font-size: 20px;
}

.footer-logo a:hover {
    color: var(--grey) !important;
}

.footer-logo-svg {
    animation: svg .5s linear infinite alternate-reverse;
}

@keyframes svg {
    0% {
        transform: scale(1.3);
    }

    100% {
        transform: scale(1);
    }
}

/* footer */
.footer {
    background-color: var(--footer-blue);
    color: #fff;
    padding: 3% 0 1%;
}

.footer .footer-links {
    text-decoration: none;
    color: #ffffff;
    transition: all .3s;
}

.footer .footer-links:hover {
    letter-spacing: 2px;
    color: #ffffffa1;
}

.footer hr {
    margin: 3rem 0 1rem;
}

/* top-button */
.top svg {
    color: #fff;
    background-color: var(--dark-blue);
    padding: 7px;
    position: fixed;
    bottom: 8%;
    right: 3%;
    display: none;
    border: 1px solid transparent;
    transition: .5s ease;
}

.top svg:hover {
    border: 1px solid var(--dark-blue);
    color: var(--dark-blue);
    background-color: #fff;
}

.top svg.sticky-to {
    z-index: 1000;
    animation: moonB .5s linear;
    display: inline-block;
}

.whatsapp img {
    width: 2.1rem;
    position: fixed;
    bottom: 7%;
    left: 2%;
    z-index: 1000;
}

@keyframes moonB {
    0% {
        transform: translateX(300px);
    }

    100% {
        transform: translateX(0px);
    }
}



/* about-us */
.about-us>div:first-child,
.about-us>div:first-child a,
.apply-online>div:first-child,
.apply-online>div:first-child a {
    background-color: var(--dark-blue);
    color: #fff;
    text-decoration: none;
}

.about-us .row:first-child a:hover,
.apply-online .row:first-child a:hover {
    color: var(--grey);
}

.about-us .about-us-images img:nth-child(1) {
    position: absolute;
    top: 30%;
    right: 40%;
    border-radius: 15px;
    width: 52%;
}

.about-us .about-us-images img:nth-child(2) {
    left: 30%;
    z-index: -1;
    width: 72%;
    position: relative;
    bottom: -32px;
}

.about-us .container .row span {
    color: #2e2e2e;
    font-weight: 600;
}

/* apply-online */
.apply-online {
    padding: 0 0 5%;
}

.apply-online .container .row.text-center a {
    color: #000;
    font-weight: 600;
}

.apply-online .container .row.text-center a:hover {
    color: var(--dark-blue);
}

.apply-online .container .row span {
    color: #2e2e2e;
    font-weight: 600;
}

.apply-online h3 {
    background-color: var(--dark-blue);
    color: #fff;
    border: 1px solid var(--dark-blue);
}

.apply-online .container div {
    font-weight: 600;
}

.apply-form-one {
    border: 1px solid #cfcfcf;
    border-top: none;
    padding: 0 1% 1% 1%;
}

.apply-form-one .form-select {
    padding: 0 35px 0 5px !important;
    font-size: 15px;
    font-weight: 600;
}

.apply-form-one .custom-col-1 {
    width: 26%;
}

.apply-form-one .custom-col-2 {
    width: 40%;
}

.apply-form-one .form-check-input {
    width: 1.5em;
    height: 1.5em;
}

.business-information {
    border: 1px solid #cfcfcf;
    border-top: none;
    padding: 1%;
}

.about-your-business {
    border: 1px solid #cfcfcf;
    border-top: none;
    padding: 2% 1% 1%;
}

.about-your-business input::placeholder {
    color: #000;
    font-weight: 500;
}

.abt-business {
    border: 1px solid #cfcfcf;
    padding: 2% 1% 1%;
}

.abt-business-two {
    border: 1px solid #cfcfcf;
    padding: 2.5% 1% 3%;
}

.abt-business-two textarea {
    border: 1px solid #cfcfcf;
    border-radius: 0.375rem;
}

/* responsive-style-sheet */

@media (min-width: 1400px) {
    .about-us .about-us-images img:nth-child(1) {
        position: absolute;
        top: 30%;
        right: 44%;
        border-radius: 15px;
        width: 43%;
    }

    .about-us .about-us-images img:nth-child(2) {
        left: 30%;
        z-index: -1;
        width: 63%;
        position: relative;
        bottom: -32px;
    }
}

@media (min-width: 991px) {
    section.industry.py-3.py-sm-5 {
        padding-bottom: 6rem !important;
    }
}

@media (max-width: 991px) {

    .nav-link {
        font-size: 14px !important;
    }

    p,
    a,
    li {
        font-size: 15px !important;
    }

    h1 {
        font-size: 38px !important;
    }

    h3 {
        font-size: 22px !important;
    }

    .navbar-brand img {
        width: 70%;
    }

    .navbar-brand {
        margin: 0;
    }

    .carousel-indicators {
        bottom: 26%;
        left: 77%;
    }

    .banner .container .row .left-banner {
        padding: 95px 0 !important;
    }

    .banner .left-banner p {
        padding: 0 0 15px;
    }

    .banner .container {
        padding: 0 !important;
    }

    nav ul li a {
        margin-left: 11px;
    }

    .custom-btn {
        padding: 10px 10px !important;
    }

    .right-banner img:nth-child(3) {
        top: 73%;
        left: 21%;
        width: 17%;
    }

    .right-banner img:nth-child(2) {
        top: 12%;
        right: 22%;
        width: 17%;
    }

    .square-2,
    .square-1 {
        height: 105px;
        width: 105px;
    }

    .deopdown-img-two {
        width: 55%;
    }

    .services {
        padding: 46px 0 78px;
    }

    .services div .row:first-child h2 {
        margin-bottom: 43px;
    }

    /* apply-online */


    .apply-online label,
    .apply-online span {
        font-size: 14px;
    }


    .apply-online p.col-12.m-0.ps-0.custom-col-1 {
        padding-bottom: 1.5rem !important;
    }

    .apply-form-one .custom-col-2,
    .apply-form-one .custom-col-1 {
        width: 46%;
    }

    .apply-form-one {
        padding: 0 1% 3% 3%;
    }

    .business-information {
        padding: 4% 0 2% 4%;
    }

    .about-your-business {
        padding: 3% 0% 2% 4%;
    }

    .abt-business {
        border: 1px solid #cfcfcf;
        padding: 5% 0 2% 4%;
    }

    .abt-business-two {
        border: 1px solid #cfcfcf;
        padding: 3.5% 0 3% 4%;
    }

    .about-us .about-us-images img:nth-child(1) {
        position: absolute;
        top: 87%;
        right: 23%;
        border-radius: 15px;
        width: 68%;
    }

    .about-us .about-us-images img:nth-child(2) {
        left: 27%;
    }

    .dropdown {
        padding: 2rem 0 5rem;
    }

    .footer {
        padding: 4% 0 2%;
    }
}

@media (min-width: 767px) {
    header.sticky {
        z-index: 1000;
        position: sticky;
        top: 0;
        background-color: #f8f8f8;
        animation: moon .5s linear;
        box-shadow: #00000040 0 0px 39px 0px;
    }

    .navbar-brand img.sticky-img {
        width: 65%;
    }

    @keyframes moon {
        0% {
            transform: translateY(-200px);
        }

        100% {
            transform: translateY(0px);
        }
    }

}

@media (max-width: 767px) {
    h1 {
        font-size: 38px !important;
    }

    .navbar-nav,
    .navbar-nav li {
        margin-right: auto;
        padding: 17px 0 0 5.5px;
    }

    .offcanvas.offcanvas-end {
        width: 60vw;
    }

    .banner img,
    .about img,
    .dropdown img,
    .employment img {
        width: 80%;
    }

    .banner .right-banner {
        padding: 0 0 50px 0;
    }

    .banner .container .row .left-banner {
        padding: 75px 0 !important;
    }

    .right-banner img:nth-child(2),
    .right-banner img:nth-child(3) {
        max-width: 12% !important;
    }

    .right-banner::after {
        height: 66px;
        width: 66px;
        top: 32%;
    }

    .right-banner img:nth-child(2) {
        top: 3%;
        right: 28.5%;
    }

    .right-banner img:nth-child(3) {
        top: 73%;
        left: 28%;
    }

    .right-banner:hover img:nth-child(2) {
        top: -4%;
        right: 24%;
    }

    .right-banner:hover img:nth-child(3) {
        top: 80%;
        left: 24%;
    }

    .square-1 {
        bottom: 92%;
        left: 67%;
    }

    .custom-btn {
        padding: 10px 20px !important;
    }

    .about {
        padding: 38px 0;
    }

    .about .col-12.col-md-4.mt-md-5.pt-1.pt-md-0 {
        text-align: center;
    }

    .services img {
        width: 42%;
    }

    .services h3 {
        font-size: 18px;
    }

    .services-one {
        padding: 0 5px 0 0;
        height: 150px;
    }

    .footer-logo .d-flex.align-items-center {
        height: 70.56px;
    }

    .svg-border {
        width: 76px;
        height: 76px;
    }

    .services div .row:nth-child(3) {
        padding: 0 0 60px 0;
    }

    .ach img {
        width: 50%;
    }

    .ach div h3:nth-child(2) {
        top: 20%;
        right: 34%;
    }

    .internet-checks div h3:nth-child(2) {
        top: 5% !important;
    }

    .ach-circle-one {
        width: 33.3%;
        padding: 0 10px !important;
    }

    .ach-border {
        justify-content: start;
    }

    .ach-circle {
        height: 58px;
        width: 58px;
    }

    .deopdown-img-two {
        width: 38.5% !important;
        top: 56.5%;
    }

    .employment {
        padding: 0rem 0 2.5rem;
    }

    .employment>div>div>div {
        text-align: center;
        margin: 0 0 50px;
    }

    .employment h2.lh-1.mb-2.mb-md-3.p-0 {
        text-align: center;
    }

    .industry .row.justify-content-between.p-0 {
        justify-content: center !important;
    }

    .footer-logo img {
        min-width: 114%;
    }

    .apply-online p.col-12.m-0.ps-0.custom-col-1 {
        padding-bottom: initial !important;
    }

    .about-us .about-us-images img:nth-child(2) {
        bottom: 48px;
        transform: scale(.75);
    }

    .about-us .about-us-images img:nth-child(1) {
        top: 2%;
        right: 40%;
        transform: scale(.75);
    }

    .footer {
        padding: 4% 0 0;
    }
}

@media (max-width: 575px) {
    h2 {
        font-size: 26px;
        line-height: normal;

    }

    h3 {
        font-size: 18px;
        line-height: normal;
    }

    h1 {
        font-size: 33px !important;
    }

    li,
    p,
    .accordion-body,
    a {
        font-size: 12px !important;
    }

    .accordion-button {
        font-size: 14px !important;
        padding: 5px !important;
    }

    .right-banner img:nth-child(3) {
        top: 70%;
        left: 30%;
    }

    .carousel-indicators {
        bottom: 37%;
        left: 75%;
    }

    .carousel-line {
        height: 2rem;
        width: 0.1rem;
    }

    .banner .left-banner p {
        line-height: normal;
    }

    .banner .container,
    .container {
        padding: 0 17px !important;
    }

    .banner .container .row .left-banner {
        padding: 45px 0 !important;
    }

    .square-2,
    .square-1 {
        height: 85px;
        width: 85px;
    }

    .about {
        padding: 35px 0;
    }

    .about svg {
        padding: 1px;
    }

    .deopdown-img-two {
        width: 54.5%;
    }

    .services {
        padding: 36px 0 50px;
    }

    .services h3 {
        font-size: 15px !important;
        line-height: normal;
        margin: 10px 0 5px 0 !important;
    }

    .services div .row:nth-child(3) {
        padding: 0 0 45px 0;
    }

    .industry .card h3 {
        margin: 0 0 10px !important;
    }

    .industry .card p {
        margin: 5px 0 0 0 !important;
    }

    .industry .card-body {
        padding: 1rem;
    }

    .services-one {
        padding: 0;
        height: 95px;
    }

    .services-one p {
        line-height: 14px;
        font-size: 10px !important;
    }

    .svg-border {
        width: 46px;
        height: 46px;
    }

    .ach-border {
        padding: 25px 4px 0px;
    }

    .ach div h3:nth-child(2) {
        top: 17%;
        right: 22%;
    }

    .internet-checks div h3:nth-child(2) {
        top: 7% !important;
    }

    .list-unstyled.mb-1 {
        align-items: start !important;
        display: flex;
        line-height: normal !important;
    }

    .footer-logo {
        height: 62px;
    }

    .footer-logo svg {
        font-size: 20px;
    }

    .footer-logo p {
        font-size: 10px !important;
        line-height: 1px;
    }

    .footer h3 {
        margin: 12px 0px !important;
    }

    .footer-logo a {
        font-size: 12px !important;
    }

    .footer-logo .col-5 {
        padding: 0 !important;
    }

    .footer-logo .svg-1 {
        width: 38% !important;
    }

    .footer-logo .svg-2 {
        width: 45% !important;
    }

    .footer {
        padding:4% 0;
    }

    .footer hr {
        margin: 1rem 0 1rem;
    }

    .bottom-bar p {
        font-size: 8.5px !important;
        margin: 0;
    }

    /* apply-online */
    .apply-online label,
    .apply-online span {
        font-size: 12px;
    }

    .about-us .about-us-images img:nth-child(1) {
        right: 36%;
        width: 71%;
    }
}
